#customerLandingPage {
  -fx-background-color: #c7f9cc;
}
#OrdersList {
  -fx-min-height: 100px;
  -fx-min-width: 250px;
}

.tabPane {
  -fx-background-color: rgba(91, 153, 111, 0.486);
}

.tabButton {
  -fx-background-color: rgba(91, 153, 111, 0.486);
  -fx-font-weight: bold;
}

#ItemsList {
  -fx-font-weight: 600;
}

.tabButton::selection {
  -fx-background-color: blue;
}

.mainPage {
  -fx-background-color: #c7f9cc;
  -fx-font-weight: 500;
}

.button {
  -fx-background-color: #57cc99;
}

.button:hover {
  -fx-background-color: #38a3a5;
}
