#OrderDetailsPage {
  -fx-background-color: #c7f9cc;
}

.mainPage {
  -fx-background-color: #c7f9cc;
}

#confirmReservationButton {
  -fx-background-color: #57cc99;
}

#confirmReservationButton:hover {
  -fx-background-color: #38a3a5;
}

#cancelBookingButton {
  -fx-background-color: #57cc99;
}

#cancelBookingButton:hover {
  -fx-background-color: #38a3a5;
}

#backButton {
  -fx-background-color: #57cc99;
}

#backButton:hover {
  -fx-background-color: #38a3a5;
}
