#OrderSelectWindow {
  -fx-background-color: rgba(91, 153, 111, 0.486);
  -fx-spacing: 30px;
}
#OrderTypeBox {
  -fx-spacing: 30px;
}

.button {
  -fx-background-color: #38a3a5;
}

.button:hover {
  -fx-background-color: #57cc99;
}
